<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>

	  <div class="container mx-auto px-2 py-2">
	  <img src="assets\Imagen-poesia-medieval.jpg"
    width="450" height="500"/>
	  </div>
	  
      <div class="container mx-auto px-2 py-2">
        <div class="py-2 mb-2 prose">
          <p>Poesía Medieval aloja distintos proyectos de investigación sobre el estudio de corpus medievales en verso desde las Humanidades Digitales: *Diálogo Medieval *(PICT 2013), edición digital de poesía medieval dialogada y Reis Trobadors: reconstrucción filológico-musicológica de la lírica medieval románica con herramientas digitales (Filo:CyT 2018)</p>
        </div>
      </div>	  
	  
      <div class="container mx-auto px-2 py-2">
        <div class="py-2 mb-2 prose">
          <h2 class="h1 lh-condensed col-9 mb-0"> Equipo</h2>
          <br>
          <ul>
            <li> Gimena del Rio (HD CAICYT Lab - IBICRIT, CONICET - UBA)</li>
            <li>Germán Pablo Rossi (UBA)</li>
            <li><a href="https://www.conicet.gov.ar/new_scp/detalle.php?id=53027&keywords=nidia+hernandez&datos_academicos=yes" target="_blank">Nidia Hernández (HD CAICYT Lab - CONICET)</a></li>
            <li><a href="https://www.conicet.gov.ar/new_scp/detalle.php?keywords=&id=25837&datos_academicos=yes" target="_blank">Romina De Léon (HD CAICYT Lab - CONICET) </a></li>
            <li><a href="https://www.aacademica.org/gabriela.edith.striker" target="_blank">Gabriela Striker(UBA)</a> </li>
            <li><a href="http://aahd.net.ar/personas/gabriel-calarco" target="_blank">Gabriel Calarco (UBA)</a></li>
            <li>Irene Mangiarotti (UBA)</li>
            <li>Clara Lay (UBA)</li>
            <li>Eleonora Wachsmann (UBA)</li>
          </ul>
        </div>
      </div>

      
      

    </div>

    {% include footer.html %}

  </body>

</html>
